[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
flake8 = "*"
flask-bootstrap = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-dotenv = "*"
flask-login = "*"

[requires]
python_version = "3.7"
